doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#") 像我這樣的一個主編
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href="#") 登入
    .jumbotron(style="margin:40px")
       img.pull-right(src="img/avatar.jpg",style="height:240px")
       h1 像我這樣的一個主編
       p 加班，是一種無藥可醫的慢性絕症，與工作量不一定有關
       br
       .pull-right — 資深媒體人都是抖M。
       br
    #root(style="margin:20px")
      hr
      p 想要多了解像我這樣的一個主編嗎？現在就看看 #[a(href="https://facebook.com/EditorLikeSiren") 像我這樣的一個主編] 的粉絲專頁吧！
      hr
      br


